{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "semi": true,
  "printWidth": 120,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss", "prettier-plugin-css-order"]
}
